.genres {
  display: flex;
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
}
.genres h3 {
  color: #C5C9E7;
}
.genres p {
  font-family: 'Montserrat';
  color: #E4C1F9;
  margin: 1px;
  margin-right: 5px;
  line-height: 0.95;
  padding: 0;
}
.genreList {
  margin-left: 10px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}