@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

header {
  font-size: 20px;
  font-family: 'Comfortaa';
  color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  padding-bottom: 50px;
}

header a {
  padding-right: 10px;
  font-size: 40px;
  border-radius: 5px;
  color: #F9564F;
  text-shadow: 0.5px 0.5px #0C0A3E;
  text-decoration-color: #F1B855;
}