main {
  overflow-wrap: inherit;
height: 100vh;
padding: 5vh 10vw;
font-family: 'Comfortaa';
color: white;
background-color: black;
}

main label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
main h5 {
  margin: 0;
  font-size: 1.5vw;
  text-shadow: 0.5px 0.5px black;
}

#obscure {
  color: #F9564F;
  text-shadow: 0.5px 0.5px orange;
}

#popular {
  color: rgba(32, 136, 32, 0.856);
  text-shadow: 0.5px 0.5px yellow;
}

.artistGrid {
  color: #C5C9E7;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

main p {
  font-weight: bold;
  font-size: 1.8vw;
  margin: 10px;
  flex-shrink: 5;
}