main {
height: 100%;
padding: 10vh 15vw;
font-family: 'Comfortaa';
}

main label {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
}
main h5 {
  margin: 0;
  font-size: 15px;
  text-shadow: 0.5px 0.5px black;
}

#obscure {
  color: #F9564F;
  text-shadow: 1px 0.5px orange;
}

#popular {
  color: rgba(32, 136, 32, 0.856);
  text-shadow: 1px 0.5px yellow;
}

.artistGrid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 50px;
}

p {
  margin-right: 20px;
  transform: 0.5s ease-in-out;
}