main {
  overflow-wrap: inherit;
height: 100vh;
padding: 0;
font-family: 'Comfortaa';
color: white;
background-color: black;
margin-top: 200px;
}
label {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 41px;
  padding: 5px 5px;
  padding-top: 0;
}
h5 {
  margin: 0;
  font-size: 15px;
  font-size: 12px;
}
#popular {
  color: #3DDC97;
}
#obscure {
  color: #FF495C;
}
.artistGrid {
  font-family: 'Montserrat';
  font-weight: bold;
  margin-top: 30px;
  font-size: 17px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main p {
  margin: 5px 10px;
  flex-shrink: 5;
}