.deep-cuts {
  display: flex;
  flex-direction: column;;
}

.deep-cuts h5 {
  font-size: 12px;
}

.song {
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
}

.deep-cuts h5 {
  color: #56638A;
}