@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

.loginHeader {
  font-family: 'Roboto';
  color: #719D58;
  display: flex;
  justify-content: center;
  align-content: center;
  text-shadow: 0.5px 0.5px #2A4849;
}

span {
  font-size: 45px;
  color: #F3FFBD;
}