
.artistCard {
  display: hidden;
  width: 100px;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  margin: 10px;
}

.artistCard p, a {
  color: white;
  font-family: 'Montserrat';
  font-weight: bold;
  font-size: 10px;
  text-decoration: none;
}

.artistCard img {
  width: 75px;
  height: 75px;
  align-self: center;
  object-fit: cover;
}