.artistsGridContainer {
  margin-top: 30px;
  min-height: 100vh;
  min-width: 100vw;
  margin-left: -20vw;

  background: hsla(326, 20%, 27%, 1);

  background: linear-gradient(
    90deg,
    hsla(326, 20%, 27%, 1) 0%,
    hsla(326, 20%, 21%, 1) 14%,
    hsla(326, 20%, 14%, 1) 30%,
    hsla(0, 0%, 0%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(326, 20%, 27%, 1) 0%,
    hsla(326, 20%, 21%, 1) 14%,
    hsla(326, 20%, 14%, 1) 30%,
    hsla(0, 0%, 0%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(326, 20%, 27%, 1) 0%,
    hsla(326, 20%, 21%, 1) 14%,
    hsla(326, 20%, 14%, 1) 30%,
    hsla(0, 0%, 0%, 1) 100%
  );
}
.artistsGrid {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-evenly;
  padding-left: 20vw;
}
