@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: black;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: black;
  padding: 30px;
  height: 70vh;
  width: 100vw;
  /* border-top: 50px solid #F3C677;
  border-bottom: 50px solid #B33F62; */
}
.login h1 {
  margin-top: 0;
  font-size: 50px;
  font-family: "Comfortaa";
  color: #719d58;
  color: white;
}

span {
  align-self: baseline;
  font-size: 60px;
  color: #F9564F;
}

.loginButton {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 300px;
}

.login button {
  padding: 15px 20px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 28px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1db954;
  border-style: none;
  border-radius: 5px;
}

.login button img {
  padding-left: 35px;
}

.login button:hover {
  cursor: pointer;
}

.login label {
  font-weight: bold;
  margin: 20px 0;
  font-family: "Montserrat";
  color: white;
}
