.loginContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: black;
}
.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  background-color: black;
  height: 70vh;
}
.login h1 {
  text-align: center;
  margin-top: 0;
  font-size: 50px;
  font-family: "Comfortaa";
  color: white;
}
.login span {
  align-self: baseline;
  font-size: 60px;
  color: #483A58;
  text-shadow: 1px 1px #56638A;
}
.loginButton {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 300px;
}
.login button {
  padding: 15px 20px;
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 28px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1db954;
  border-style: none;
  border-radius: 5px;
}
.login button img {
  padding-left: 35px;
}
.login button:hover {
  cursor: pointer;
}
.login label {
  font-weight: bold;
  margin: 20px 0;
  font-family: "Montserrat";
  color: white;
}
