@import url("https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa&display=swap");

.App {
  padding: 0;
  font-family: "Comfortaa";
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  padding: 0 30px;
}
h5 {
  margin: 0;
  font-size: 15px;
  font-size: 12px;
}
main p {
  margin: 5px 10px;
  flex-shrink: 5;
}
@media only screen and (min-width: 600px) {
  .App {
    padding: 0 20vw;
    margin: 0;
  }
  .artistsGridContainer {
    font-size: 15px;
  }
  .artistsGrid {
    margin: 0 22vw;
    padding: 0;
  }
  .artistCard img {
    width: 100px;
    height: 100px;
  }
  .artistCard {
    margin: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .App {
    padding: 0 30vw;
    margin: 0;
  }
.artistsGridContainer {
  margin-left: -30vw;
  width: 100%;
}
}
