@import url('https://fonts.googleapis.com/css2?family=Ramabhadra&display=swap');
.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  height: 100vh;
  background-color: black;
  padding: 5vh 10vw;
}