label {
  font-weight: bold;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  margin-top: 50px;
  padding: 5px 5px;
  padding-top: 0;
  z-index: 100000;
}

#obscure {
  color:#F679E5
}
#popular {
  color: #DEF6CA;
}